Package: org.thebigboss.nokeypop
Name: NoKeyPop
Depends: mobilesubstrate, preferenceloader, firmware (>= 5.0), firmware (<< 9.0)
Version: 1.1.3
Architecture: iphoneos-arm
Description: Removes popup above keyboard characters.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
